<% if @cocktail.photo %>
<%= cl_image_tag @cocktail.photo.url(:standard) %>
<% else %>
<%= cl_image_tag("yszyapaudcrkrpxfxttr.jpg") %>
<% end %>
<h2>
  Cocktail Name: <%= @cocktail.name %>
</h2>

<ul>
  <% @cocktail.doses.all.each do |dose| %>
  <li>
    <p>
      Ingredient:
      <%= dose.ingredient.name %>
    </p>
    <p>
      Amount:
      <%= dose.description %>
    </p>
    <%= link_to 'Delete Dosage', dose_path(dose), method: :delete, class: 'btn btn-danger' %>
  </li>
  <% end %>
</ul>
<%= link_to 'New Dosage', new_cocktail_dose_path(@cocktail), class: 'btn btn-info' %>
