<h2>New Dose for pe </h2>
<%= link_to 'Homepage', cocktails_path, class: "btn btn-primary" %>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, label: 'Amount: ' %>
  <%= f.association :ingredient, collection: @ingredients %>
  <%= f.submit "Add Dose", class: "btn btn-primary" %>
<% end %>
